{% extends 'base.html' %}

{% block main %}
<main class="round-boxes">
    <h1>Accommodations</h1>

    <p>We've secured room blocks at the following hotels:</p>

    <ul class="hotel-list">
        <li>
            <h2>The Lenox Hotel</h2>
            <ul>
                <li>61 Exeter Street, Boston, MA 02116</li>
                <li><a href="https://gc.synxis.com/rez.aspx?tps=fml&arrive=2014-8-29&adult=1&step=1&hotel=37&shell=fBOSLH2&chain=56&template=fBOSLH&avcurrency=USD&group=BRES082914">Reserve a room online</a> or call 800-225-7676 & ask for a room in the Bresnahan/Keravuori wedding block.</li>
            </ul>
        </li>
        <li><hr></li>
        <li>
            <h2>The Copley Square Hotel</h2>
            <ul>
                <li>47 Huntington Avenue, Boston, MA 02116</li>
                <li><a href="https://gc.synxis.com/rez.aspx?Hotel=18273&Chain=10069&template=CopleyITIN&shell=Flex2&arrive=8/29/2014&depart=9/1/2014&adult=2&child=0&group=ZZW8">Reserve a room online</a> or call the 800-225-7062 and ask for a room in the Bresnahan/Keravuori wedding block.</li>
            </ul>
        </li>
        <li><hr></li>
        <li>
            <h2>The Westin Copley Place</h2>
            <ul>
                <li>10 Huntington Avenue, Boston, MA 02116</li>
                <li><a href="https://www.starwoodmeeting.com/StarGroupsWeb/booking/reservation?id=1311052347&key=95B5C">Reserve a room online</a> or call the 617-262-9600 and ask for a room in the Bresnahan/Keravuori wedding block.</li>
            </ul>
        </li>
    </ul>
</main>
{%  endblock %}