<!DOCTYPE html>
<html>
<head>
    <title>Risto and Megan's Wedding</title>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

</head>
<body>
<header>
    <div class="banner">
        <h1><i class="fa fa-align-right"></i></h1>
        <h1>Megan & Risto</h1>
        <h1><i class="fa fa-align-left"></i></h1>
    </div>
</header>

<div class="background">
</div>

<main>

</main>


</body>
</html>