body {
    /*background-image:url('/static/img/beehive_main.png');*/
    /*background-size: 100%;*/
    /*background-repeat: no-repeat;*/
    background-color:#160802;
    padding:0px;
}

header {
    z-index:1;
    position:absolute;
    top:20px;
    width: 90%;
    left: 5%;
}

.banner {
    font-family: 'Poiret One';
    text-align: center;
    color: #dddddd;
    font-size: 24px;
    border: 3px solid rgba(255, 255, 255, 0.4);
    background: rgba(16, 8, 2, 0.4);
    -webkit-border-radius: 10%;
       -moz-border-radius: 10%;
        -ms-border-radius: 10%;
         -o-border-radius: 10%;
            border-radius: 10%;
    border-radius: 10%;
    margin:auto;
    padding: 0px 20px;
}
.inner-banner {
    display:table;
    margin:auto;
}

.banner h1 {
    padding: 0px 5px;
    display:table-cell;
    vertical-align: middle;
}

.background {
    position:fixed;
    margin: 0px auto;
    z-index:-1;
    top:0px;
    left:0px;
    background-image:url('/static/img/beehive_main.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    min-height:797px;
    width:100%;
    height:100%;
}

.main {
    position: absolute;
    top:200px;
    color:white;
    font-family: "Poiret One";
    font-size: 18px;
    margin: auto;
    width: 50%;
    left: 25%;
    text-align: center;
    border: 3px solid rgba(255, 255, 255, 0.4);
    background: rgba(16, 8, 2, 0.4);
    -webkit-border-radius: 10%;
       -moz-border-radius: 10%;
        -ms-border-radius: 10%;
         -o-border-radius: 10%;
            border-radius: 10%;
    border-radius: 10%;
}


footer {
    position: absolute;
    bottom:0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width:100%;
    height:30px;
    color: white;
    text-align: center;
}
